In [3]:
import numpy as np

import pandas as pd
from pandas.api.types import CategoricalDtype

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

import zipfile
import os

# Plot settings
plt.rcParams['figure.figsize'] = (12, 9)
plt.rcParams['font.size'] = 12

In [4]:
expenses = pd.read_csv("personal_expenses.csv")
expenses = expenses.iloc[1:]
expenses = expenses.reset_index()
expenses = expenses.iloc[:, 1:]

In [5]:
expenses.head()

,Date,Description,Amount,Running Bal.
0,01/04/2022,Online Banking transfer to BRK 8K64 Confirmati...,"-3,000.00","1,415.20"
1,01/04/2022,PAYPAL DES:INST XFER ID:LUALEX.S403 INDN:SAATV...,-35.09,"1,380.11"
2,01/24/2022,VENMO DES:PAYMENT ID:XXXXX85146142 INDN:SAATVI...,-14.00,"1,366.11"
3,01/25/2022,VENMO DES:PAYMENT ID:XXXXX12780377 INDN:SAATVI...,-7.00,"1,359.11"
4,01/31/2022,TACO BELL 032759 01/27 PURCHASE BERKELEY CA,-16.91,"1,342.20"

In [7]:
expenses["Short_Des"] = expenses["Description"].str.split(" ").str[0]
expenses["Amount"]

0      -3,000.00
1         -35.09
2         -14.00
3          -7.00
4         -16.91
         ...
166       -23.00
167       -21.57
168       -15.00
169       -11.60
170       -56.50
Name: Amount, Length: 171, dtype: object

In [8]:
def convert_to_int(s):
    s = "".join(e for e in s if (e.isalnum() or e == "-" or e == "."))
    
    if "-" in s:
        return float(s.split("-")[1]) * -1
    else:
        return float(s)

In [9]:
expenses["Amount_new"] = expenses["Amount"].apply(convert_to_int)
expenses

,Date,Description,Amount,Running Bal.,Short_Des,Amount_new
0,01/04/2022,Online Banking transfer to BRK 8K64 Confirmati...,"-3,000.00","1,415.20",Online,-3000.00
1,01/04/2022,PAYPAL DES:INST XFER ID:LUALEX.S403 INDN:SAATV...,-35.09,"1,380.11",PAYPAL,-35.09
2,01/24/2022,VENMO DES:PAYMENT ID:XXXXX85146142 INDN:SAATVI...,-14.00,"1,366.11",VENMO,-14.00
3,01/25/2022,VENMO DES:PAYMENT ID:XXXXX12780377 INDN:SAATVI...,-7.00,"1,359.11",VENMO,-7.00
4,01/31/2022,TACO BELL 032759 01/27 PURCHASE BERKELEY CA,-16.91,"1,342.20",TACO,-16.91
...,...,...,...,...,...,...
166,10/14/2022,WORLD CUTS 10/12 PURCHASE BERKELEY CA,-23.00,"2,524.01",WORLD,-23.00
167,10/17/2022,GIG CAR SHARE 10/14 PURCHASE HTTPSWWW.GIGC CA,-21.57,"2,502.44",GIG,-21.57
168,10/17/2022,VENMO DES:PAYMENT ID:XXXXX07971413 INDN:SAATVI...,-15.00,"2,487.44",VENMO,-15.00
169,10/17/2022,VENMO DES:PAYMENT ID:XXXXX13962262 INDN:SAATVI...,-11.60,"2,475.84",VENMO,-11.60
170,10/18/2022,VENMO DES:PAYMENT ID:XXXXX50163195 INDN:SAATVI...,-56.50,"2,419.34",VENMO,-56.50

In [10]:
grouped_expenses = expenses.groupby("Short_Des")["Amount_new", "Description"].agg({"Amount_new": 'sum', "Description": lambda x: list(x)[0]})
grouped_expenses

             Amount_new                                        Description
Short_Des
APPLE           -215.42         APPLE CASH 05/09 PMNT SENT 877-233-8552 CA
CHAAT            -26.23       CHAAT CORNER 02/25 PURCHASE SAN FRANCISCO CA
CHICK-FIL-A      -45.62  CHICK-FIL-A #04547 05/31 MOBILE PURCHASE AUSTI...
CHIPOTLE        -157.36    CHIPOTLE 0697 04/21 MOBILE PURCHASE BERKELEY CA
CLIPPER          -10.00   CLIPPER SYSTEMS MOBILE 04/28 PURCHASE CONCORD CA
CSC              -49.25  CSC SERVICEWORKS ULTRA 02/03 PURCHASE PLAINVIE...
DD               -56.77  DD DOORDASH SHEREPUNJ 06/16 PURCHASE 855-973-1...
DISCOVER         -13.07  DISCOVER DES:E-PAYMENT ID:4256 INDN:BILLA SAAT...
FISHERMANS       -29.93  FISHERMANS PIZZERIA 04/30 PURCHASE SAN FRANCIS...
FITNESS         -102.43  FITNESS CONNECTION 05/15 PURCHASE 469-892-6217 TX
GHIRARDELLI      -33.18  GHIRARDELLI #127 GDF 04/30 MOBILE PURCHASE SAN...
GIG              -47.57      GIG CAR SHARE 10/02 PURCHASE HTTPSWWW.GIGC CA
IN               -46.55  IN *LOLA GHIRARDELLI 04/30 MOBILE PURCHASE SAN...
LA               -10.02      LA BURRITA. 04/26 MOBILE PURCHASE BERKELEY CA
NNT               -8.00          NNT BART-CLIPP 04/30 PURCHASE BERKELEY CA
Online          -300.00  Online Banking transfer to BRK 8K64 Confirmati...
P.               -32.14       P. TERRYS STAND #14 05/16 PURCHASE AUSTIN TX
PANERA           -12.57  PANERA BREAD #204447 P 07/29 MOBILE PURCHASE A...
PAYPAL            14.02  PAYPAL DES:INST XFER ID:LUALEX.S403 INDN:SAATV...
ROST              -5.39        ROST GELATO 06/03 MOBILE PURCHASE AUSTIN TX
SNACK*          -205.61  SNACK* PUNJABI DHA 02/01 PURCHASE WWW.SNACKPAS...
SQ               -72.23     SQ *LA MEDITERRANEE 04/09 PURCHASE Berkeley CA
STARBUCKS         -0.64  STARBUCKS STORE 00689 05/25 MOBILE PURCHASE AU...
TACO             -26.02        TACO BELL 032759 01/27 PURCHASE BERKELEY CA
TACODELI         -23.00     TACODELI WESTLAKE 005 06/19 PURCHASE AUSTIN TX
TOSS              -0.25  TOSS NOODLE BAR 03/05 MOBILE PURCHASE BERKELEY CA
TST*             -35.50  TST* DELAROSA - DOWNTOW 04/23 MOBILE PURCHASE ...
VENMO           -119.13  VENMO DES:PAYMENT ID:XXXXX85146142 INDN:SAATVI...
WALGREENS        -29.45  WALGREENS #10045 02/23 MOBILE PURCHASE BERKELE...
WORLD            -45.00              WORLD CUTS 03/06 PURCHASE BERKELEY CA
Zipcar          -251.55  Zipcar FEB13 26629219 02/14 PURCHASE XXX-XX872...